<div class="text">
    <h1>Hey Karabo,</h1>
    <h3>How are you feeling today?</h3>
</div>
<div class="container" style="text-align: center;">
    <img class="img-responsive" src="assets\images\angry.png" style="padding-right: 20px;">
    <img class="img-responsive" src="assets\images\sad.png" style="padding-right: 20px;">
    <img class="img-responsive" src="assets\images\crying.png" style="padding-right: 20px;">
    <img class="img-responsive" src="assets\images\neutral.png" style="padding-right: 20px;">
    <img class="img-responsive" src="assets\images\happy.png">
</div>
<div class="chart">
    <div class="line" [chart] = "lineChart">

    </div>
</div>
<div class = "cards row">
    <div class="card col" style="margin-right: 1rem; text-align: center;">
        <img class="img1" src="assets\images\chat.png">
        <p class="textB"><b>Access your chat buddy</b></p>

    </div>
    <div class="card col">
        <img class="img2" src="assets\images\meditate.png">
        <p class="textC"><b>More Self love & Fulfilment</b></p>
    
    </div>
</div>
<div class = "cards row">
    <div class="card" style="margin-right: 1rem;">
        <p class="textD"><b>Water Intake</b></p>
        <img class="img3" src="assets\images\water-drops.png">
        
    </div>
    <div class="card">
        <p class="textE"><b>Lets <br> Get <br> Active</b></p>
        <img class="img4" src="assets\images\sports.png">
    </div>
</div>