.text {
    margin-top: 2rem;
}

.line {
    height: 300px;
    box-shadow: 5px 10px 18px #888888;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

h3 {
    text-align: center;
}

.card {
    width: 177px;
    height: 154px;
    margin-top: 1.3rem;
    flex-shrink: 0;

    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.30);
    background: linear-gradient(140deg, rgba(0, 255, 194, 0.32) 1.8%, rgba(57, 151, 128, 0.24) 90.75%);
    backdrop-filter: blur(20px);
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img1 {
    width: 126px;
    height: 126px;

    margin-top: -1rem;
}

.img2 {
    width: 106px;
    height: 100px;

    margin-left: 4.5rem;
    margin-top: 3.2rem;
}

.img3 {
    height: 56px;
    width: 56px;

    margin-left: 6.5rem;
    margin-top: -9rem;
}

.img4 {

    margin-top: -8.3rem;
    margin-left: 4rem;
}

.textB {
    width: 116px;
    height: 69px;
    flex-shrink: 0;

    color: #000;
    font-family: Lato;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;

    margin-top: -1.6rem;
    margin-left: 2rem;

}

.textC {
    width: 150px;
    height: 89px;

    color: #000;
    font-family: Lato;
    font-size: 19px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;

    margin-top: -8.8rem;
    margin-left: 1rem;
}

.textD {
    width: 67px;
    height: 46px;
    flex-shrink: 0;

    color: #000;
    font-family: Lato;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    margin-top: 2rem;
    margin-left: .8rem;
}

.textE {
    color: #000;
    font-family: Lato;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    margin-left: .8rem;
}