

<form class="container" name="form" (ngSubmit)=" onSubmit()" #f="ngForm">

  <H1 class="header">Sign in</H1>
  
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input
    type="email"
    class="form-control"
    name="email"
    [(ngModel)]="formData.email"
    required
    email
    #email="ngModel"
    [ngClass]="{ 'is-invalid': f.submitted && email.errors }"
  />
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input
        type="password"
        class="form-control"
        name="password"
        [(ngModel)]="formData.password"
        required
        minlength="8"
        #password="ngModel"
        [ngClass]="{ 'is-invalid': f.submitted && password.errors }"
      />
  </div>


  <button type="submit" class="btn btn-primary">Login</button>

  
</form>

  

